{% load static %}
<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="{% static "base_css.css" %}" />
</head>

<div class="Main">
  {% block content %}
	{% endblock %}
  <div class="TopofApp">
  New and Improved Poop Deck
  </div>
  
  <div class="WestPointStatus">
  WEST POINT STATUS
  "CODE RED"
  </div>
  
  <div class="CGRbutton">
   CGR
  </div>
  
  <div class="GoldCoatsbutton">
   GOLD COATS
  </div>
  
  <div class="Firstiebutton">
   FIRSTIE
  </div>
  
  <div class="Cowbutton">
   COW
  </div>
  
  <div class="Feedbackbutton">
   FEEDBACK
  </div>
  
  <div class="BottomofApp">
    <div class="HomeButton">
    Home
    </div>
    <div class="CalenderButton">
    Date
    </div>
    <div class="UniformButton">
    Uni
    </div>
    <div class="MealButton">
    Meal
    </div>
  </div>
  
</div>
