
<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">
{% load static %}

<head>
	<title>Tennis Hub Sports Category Flat Bootstrap Responsive Web Template | Home :: w3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Tennis Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
	/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<!--// Meta tag Keywords -->

	<!-- css files -->
	<link rel="stylesheet" href="{% static "css/bootstrap.css"%}" />
	<link rel="stylesheet" href="{% static "css/font-awesome.css"%}">
	<!-- Font-Awesome-Icons-css -->
	<!-- lightbox -->
	<link rel="stylesheet" href="{% static "css/chocolat.css"%}" type="text/css" media="all">
	<!-- Popup css (for Video Popup) -->
	<link href="{% static "css/popuo-box.css"%}" rel="stylesheet" type="text/css" media="all" />
	<!-- style css -->
	<link href="{% static "css/style.css"%}" rel="stylesheet" type="text/css" media="all">
	<!-- //css files -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<!-- //web-fonts -->

</head>

<body>
	<!-- header -->
<div>
	<div class="header">
		<div class="header-left">
			<div class="container">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="logo">
							<h1>
								<a href="index.html">
									Tennis Hub
									<img class="logo-position" src="images/logo4.png" alt="" />
								</a>
							</h1>
						</div>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						<nav class="link-effect-9" id="link-effect-9">
							<ul class="nav navbar-nav">
								<li class="active">
									<a class="hvr-overline-from-center scroll" href="index.html">Home</a>
								</li>
								<li>
									<a href="#about" class="hvr-overline-from-center scroll">About Us</a>
								</li>
								<li>
									<a href="#services" class="hvr-overline-from-center scroll">Services</a>
								</li>
								<li>
									<a href="#team" class="hvr-overline-from-center scroll">Instructors</a>
								</li>
								<li>
									<a href="#gallery" class="hvr-overline-from-center scroll">Gallery</a>
								</li>
								<li>
									<a href="#contact" class="hvr-overline-from-center scroll">Contact Us</a>
								</li>
							</ul>
						</nav>
					</div>
					<!-- /.navbar-collapse -->
				</nav>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<!-- //header -->

	<!-- banner-text -->
	<div class="banner-text">
		<div class="container">
			<div class="slider">
				<div class="callbacks_container">
					<ul class="rslides" id="slider3">
						<li>

							<div class="banner-w3lstext">
								<h3>a wide selection of tennis accessories</h3>
								 {% block content %}
							                {% endblock %}

								<p>Sed ut perspiciatis unde omnis iste natus error sit.</p>
								<div class="video-pop-wthree">
									<a href="#small-dialog1" class="view play-icon popup-with-zoom-anim ">
										<i class="fa fa-play-circle" aria-hidden="true"></i>Watch Our Video</a>
									<div id="small-dialog1" class="mfp-hide w3ls_small_dialog wthree_pop">
										<iframe src="https://player.vimeo.com/video/137808596?title=0&byline=0&portrait=0"></iframe>
									</div>
								</div>
							</div>
						</li>
						<li>

							<div class="banner-w3lstext">
								<h3>everything you need for tennis playing</h3>
								<p>Sed ut perspiciatis unde omnis iste natus error sit.</p>
								<div class="video-pop-wthree">
									<a href="#small-dialog2" class="view play-icon popup-with-zoom-anim ">
										<i class="fa fa-play-circle" aria-hidden="true"></i>Watch Our Video</a>
									<div id="small-dialog2" class="mfp-hide w3ls_small_dialog wthree_pop">
										<iframe src="https://player.vimeo.com/video/137808596?title=0&byline=0&portrait=0"></iframe>
									</div>
								</div>
							</div>
						</li>
						<li>

							<div class="banner-w3lstext">
								<h3>we build leaders on the court</h3>
								<p>Sed ut perspiciatis unde omnis iste natus error sit.</p>
								<div class="video-pop-wthree">
									<a href="#small-dialog3" class="view play-icon popup-with-zoom-anim ">
										<i class="fa fa-play-circle" aria-hidden="true"></i>Watch Our Video</a>
									<div id="small-dialog3" class="mfp-hide w3ls_small_dialog wthree_pop">
										<iframe src="https://player.vimeo.com/video/137808596?title=0&byline=0&portrait=0"></iframe>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- //banner-text -->
	<!-- //banner -->

	<!-- welcome -->
	<div class="about" id="about">
		<div class="container">
			<h3 class="title">About Us
				<img src="images/logo2.png" alt="" />
			</h3>
			<div class="about-top">
				<div class="col-md-6 about-img-agile">
					<img class="img-responsive" src="images/about63.png" alt="">
				</div>
				<div class="col-md-6 about-wel">
					<h2>A Few Words About Our Club</h2>
					<p>Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure
						reprehend.Unicmquam eius, Basmodi temurer sehsMunim.</p>
					<ul>
						<li>
							<i class="glyphicon glyphicon-ok"></i>Masagni dolores eoquie voluptaquisquam</li>
						<li>
							<i class="glyphicon glyphicon-ok"></i>Ipsumquia dolor sitamnetase adipiscquam eiuse</li>
						<li>
							<i class="glyphicon glyphicon-ok"></i>Basmodi temporant, ut laboreas dolore</li>
						<li>
							<i class="glyphicon glyphicon-ok"></i>Ipsumquia dolor sitamnetase adipiscquam eiuse</li>
					</ul>
					<div class="video-agile">
						<iframe src="https://player.vimeo.com/video/137808596?title=0&byline=0&portrait=0"></iframe>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //welcome -->

	<!-- stats -->
	<div class="stats">
		<div class="container">
			<div class="stats-info">
				<div class="col-md-3 col-sm-3 stats-grid slideanim">
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1200' data-delay='.5' data-increment="1">1200</div>
					<p class="stats-info">years of experience</p>
				</div>
				<div class="col-md-3 col-sm-3 stats-grid slideanim">
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='3000' data-delay='.5' data-increment="1">3000</div>
					<p class="stats-info">qualified instructors</p>
				</div>
				<div class="col-md-3 col-sm-3 stats-grid slideanim">
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='9000' data-delay='.5' data-increment="10">9000</div>
					<p class="stats-info">tennis courts</p>
				</div>
				<div class="col-md-3 col-sm-3 stats-grid slideanim">
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='169' data-delay='.5' data-increment="1">169</div>
					<p class="stats-info">annual competitions</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //stats -->

	<!-- services -->
	<div class="services" id="services">
		<div class="container">
			<h3 class="title">Services
				<img src="images/logo2.png" alt="" />
			</h3>
			<div class="col-md-6 left-services-agile">
				<div class="left-services-agile1">
					<i class="fa fa-clone i1" aria-hidden="true"></i>
					<h4>Service 1</h4>
					<div class="clearfix"></div>
					<p>Ut interdum, quam in tempus tristique, turpis magna interdum nulla, sit amet interdum lacus tortor vitae ipsum. Etiam
						in hendrerit odio, turpis magna interdum nulla</p>
				</div>
				<div class="left-services-agile1">
					<i class="fa fa-american-sign-language-interpreting i1" aria-hidden="true"></i>
					<h4>Service 2</h4>
					<div class="clearfix"></div>
					<p>Ut interdum, quam in tempus tristique, turpis magna interdum nulla, sit amet interdum lacus tortor vitae ipsum. Etiam
						in hendrerit odio, turpis magna interdum nulla</p>
				</div>
				<div class="left-services-agile1">
					<i class="fa fa-magic i1" aria-hidden="true"></i>
					<h4>Service 3</h4>
					<div class="clearfix"></div>
					<p>Ut interdum, quam in tempus tristique, turpis magna interdum nulla, sit amet interdum lacus tortor vitae ipsum. Etiam
						in hendrerit odio, turpis magna interdum nulla</p>
				</div>
			</div>
			<div class="col-md-6 agileits_updates_grid_right">
				<h3>Features</h3>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title asd">
								<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
								    aria-controls="collapseOne">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									<i class="glyphicon glyphicon-minus" aria-hidden="true"></i>assumenda est cliche reprehenderit
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body panel_text">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
								non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title asd">
								<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
								    aria-controls="collapseTwo">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									<i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Itaque earum rerum
								</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body panel_text">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
								non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title asd">
								<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
								    aria-controls="collapseThree">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									<i class="glyphicon glyphicon-minus" aria-hidden="true"></i>autem accusamus terry quibusdam
								</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body panel_text">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
								non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFour">
							<h4 class="panel-title asd">
								<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false"
								    aria-controls="collapseFour">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									<i class="glyphicon glyphicon-minus" aria-hidden="true"></i>excepturi sint cliche reprehenderit
								</a>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
							<div class="panel-body panel_text">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
								non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //services -->

	<!-- team -->
	<div class="team  wthree" id="team">
		<div class="container">
			<h3 class="title">Instructors
				<img src="images/logo2.png" alt="" />
			</h3>
			<div class="team-bottom">
				<div class="col-md-3 col-xs-3 team-grid">
					<img src="images/t1.jpg" class="img-responsive" alt="">
					<div class="caption">
						<div class="team-text">
							<h4>Mack</h4>
						</div>
						<ul>
							<li>
								<a href="#">
									<i class="fa fa-facebook f1" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-twitter f2" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-google-plus f3" aria-hidden="true"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-xs-3 team-grid">
					<img src="images/t2.jpg" class="img-responsive" alt="">
					<div class="caption">
						<div class="team-text">
							<h4>Cruz</h4>
						</div>
						<ul>
							<li>
								<a href="#">
									<i class="fa fa-facebook f1" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-twitter f2" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-google-plus f3" aria-hidden="true"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-xs-3 team-grid">
					<img src="images/t3.jpg" class="img-responsive" alt="">
					<div class="caption">
						<div class="team-text">
							<h4>Rochy</h4>
						</div>
						<ul>
							<li>
								<a href="#">
									<i class="fa fa-facebook f1" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-twitter f2" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-google-plus f3" aria-hidden="true"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-xs-3 team-grid">
					<img src="images/t4.jpg" class="img-responsive" alt="">
					<div class="caption">
						<div class="team-text">
							<h4>Rojoi</h4>
						</div>
						<ul>
							<li>
								<a href="#">
									<i class="fa fa-facebook f1" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-twitter f2" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-google-plus f3" aria-hidden="true"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //team -->

	<!-- blog -->
	<div class="news-section">
		<div class="container">
			<h3 class="title">Our Blog
				<img src="images/logo2.png" alt="" />
			</h3>
			<div class="news-grids-w3l">
				<div class="col-xs-4 news-grid">
					<a href="#" data-toggle="modal" data-target="#myModal">
						<img src="images/b1.jpg" class="img-responsive" alt="" />
					</a>
					<div class="news-text">
						<div class="news-events-agile">
							<h5>
								<a href="#" data-toggle="modal" data-target="#myModal">07 Nov</a>
							</h5>
							<div class="post-img">
								<a href="#">
									<ul>
										<li>
											<span class="fa fa-comments" aria-hidden="true"></span>
										</li>
										<li>
											<span class="fa fa-heart" aria-hidden="true"></span>
										</li>
										<li>
											<span class="fa fa-share" aria-hidden="true"></span>
										</li>
									</ul>
								</a>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="detail-bottom">
							<a href="#" data-toggle="modal" data-target="#myModal">
								<h6>Eiusmod tempor incididunt ut labore sed do eiusmod</h6>
							</a>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod
								tempor incididunt ut labore</p>
						</div>
					</div>
				</div>
				<div class="col-xs-4 news-grid">
					<a href="#" data-toggle="modal" data-target="#myModal">
						<img src="images/b2.jpg" class="img-responsive" alt="" />
					</a>
					<div class="news-text">
						<div class="news-events-agile event-colo3">
							<h5>
								<a href="#" data-toggle="modal" data-target="#myModal">16 Nov</a>
							</h5>
							<div class="post-img">
								<a href="#">
									<ul>
										<li>
											<span class="fa fa-comments" aria-hidden="true"></span>
										</li>
										<li>
											<span class="fa fa-heart" aria-hidden="true"></span>
										</li>
										<li>
											<span class="fa fa-share" aria-hidden="true"></span>
										</li>
									</ul>
								</a>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="detail-bottom">
							<a href="#" data-toggle="modal" data-target="#myModal">
								<h6>Eiusmod tempor incididunt ut labore sed do eiusmod</h6>
							</a>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod
								tempor incididunt ut labore</p>
						</div>
					</div>
				</div>
				<div class="col-xs-4 news-grid">
					<a href="#" data-toggle="modal" data-target="#myModal">
						<img src="images/b3.jpg" class="img-responsive" alt="" />
					</a>
					<div class="news-text">
						<div class="news-events-agile event-colo1">
							<h5>
								<a href="#" data-toggle="modal" data-target="#myModal">16 Nov</a>
							</h5>
							<div class="post-img">
								<a href="#">
									<ul>
										<li>
											<span class="fa fa-comments" aria-hidden="true"></span>
										</li>
										<li>
											<span class="fa fa-heart" aria-hidden="true"></span>
										</li>
										<li>
											<span class="fa fa-share" aria-hidden="true"></span>
										</li>
									</ul>
								</a>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="detail-bottom">
							<a href="#" data-toggle="modal" data-target="#myModal">
								<h6>Eiusmod tempor incididunt ut labore sed do eiusmod</h6>
							</a>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod
								tempor incididunt ut labore</p>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- Modal1 -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<section>
					<div class="modal-body">
						<h5>Tennis Hub</h5>
						<img src="images/1.jpg" alt=" " class="img-responsive" />
						<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
							consequatur? Quis autem vel eum iure reprehenderit qui in ea.
						</p>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- //Modal1 -->
	<!-- //blog -->

	<!-- gallery -->
	<div class="gallery" id="gallery">
		<div class="container">
			<h3 class="title">Our Gallery
				<img src="images/logo2.png" alt="" />
			</h3>
			<div class="gallery-main">
				<div class="gallery-bott">
					<div class="col-xs-4 col1 gallery-grid">
						<a href="images/b3.jpg" class="b-link-stripe b-animate-go  thickbox">

							<figure class="effect-bubba">
								<img class="img-responsive" src="images/b3.jpg" alt="">
								<figcaption>
									<h4 class="gal">Tennis Hub</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-xs-4 col1 gallery-grid">
						<a href="images/g6.jpg" class="b-link-stripe b-animate-go  thickbox">
							<figure class="effect-bubba">
								<img class="img-responsive" src="images/g6.jpg" alt="">
								<figcaption>
									<h4 class="gal">Tennis Hub</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-xs-4 col1 gallery-grid">
						<a href="images/g5.jpg" class="b-link-stripe b-animate-go  thickbox">
							<figure class="effect-bubba">
								<img class="img-responsive" src="images/g5.jpg" alt="">
								<figcaption>
									<h4 class="gal">Tennis Hub</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-xs-4 col1 gallery-grid">
						<a href="images/g4.jpg" class="b-link-stripe b-animate-go  thickbox">
							<figure class="effect-bubba">
								<img class="img-responsive" src="images/g4.jpg" alt="">
								<figcaption>
									<h4 class="gal">Tennis Hub</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-xs-4 col1 gallery-grid">
						<a href="images/b1.jpg" class="b-link-stripe b-animate-go  thickbox">
							<figure class="effect-bubba">
								<img class="img-responsive" src="images/b1.jpg" alt="">
								<figcaption>
									<h4 class="gal">Tennis Hub</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="col-xs-4 col1 gallery-grid">
						<a href="images/b2.jpg" class="b-link-stripe b-animate-go  thickbox">
							<figure class="effect-bubba">
								<img class="img-responsive" src="images/b2.jpg" alt="">
								<figcaption>
									<h4 class="gal">Tennis Hub</h4>
								</figcaption>
							</figure>
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //gallery -->

	<!-- contact -->
	<div class="contact" id="contact">
		<div class="container">
			<h3 class="title">Contact Us
				<img src="images/logo2.png" alt="" />
			</h3>
			<div class="contact-grid-agiles-w3l">
				<div class="col-md-5 col-xs-5 contact-grid-agile">
					<div class="contact-right1">
						<img src="images/mail36.jpg" alt="" />
					</div>
					<div class="contact-right2">
						<div class="call ">
							<div class="col-xs-4 contact-grdr-w3l">
								<h3>Call us :</h3>
							</div>
							<div class="col-xs-8 contact-grdr-w3l">
								<ul>
									<li>+3402 890 679</li>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="call">
							<div class="col-xs-4 contact-grdr-w3l">
								<h3>Locate us :</h3>
							</div>
							<div class="col-xs-8 contact-grdr-w3l">
								<ul>
									<li>345 Diamond Street</li>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="call">
							<div class="col-xs-4 contact-grdr-w3l">
								<h3>Mail us :</h3>
							</div>
							<div class="col-xs-8 contact-grdr-w3l">
								<ul>
									<li>
										<a href="mailto:info@example.com">info@example.com</a>
									</li>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-7 col-xs-7 contact-grid-agile">
					<form action="#" method="post">
						<input type="text" placeholder="Name" name="name" required="">
						<input type="email" placeholder="Email" name="email" required="">
						<input type="text" placeholder="Subject" name="subject" required="">
						<textarea placeholder="Message.." name="message" required=""></textarea>
						<input type="submit" value="Send Now">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //contact -->

	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-xs-4 agileinfo_footer_grid">
				<h4>About Us</h4>
				<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					<span>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
				</p>
			</div>
			<div class="col-xs-4 agileinfo_footer_grid">
				<h4>Address</h4>
				<ul>
					<li>
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span> 738 Diamond Road, New York City</li>
					<li>
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
						<a href="mailto:info@example.com">info@example.com</a>
					</li>
					<li>
						<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> (0123) 0111 111 222</li>
					<li>
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span> Mon-Sat 09:00 AM - 05:00PM </li>
				</ul>
			</div>
			<div class="col-xs-4 agileinfo_footer_grid">
				<h4>Instagram Posts</h4>
				<div class="agileinfo_footer_grid1">
					<a href="#">
						<img src="images/f1.jpg" alt=" " class="img-responsive">
					</a>
				</div>
				<div class="agileinfo_footer_grid1">
					<a href="#">
						<img src="images/f2.jpg" alt=" " class="img-responsive">
					</a>
				</div>
				<div class="agileinfo_footer_grid1">
					<a href="#">
						<img src="images/f3.jpg" alt=" " class="img-responsive">
					</a>
				</div>
				<div class="agileinfo_footer_grid1">
					<a href="#">
						<img src="images/f4.jpg" alt=" " class="img-responsive">
					</a>
				</div>
				<div class="agileinfo_footer_grid1">
					<a href="#">
						<img src="images/f5.jpg" alt=" " class="img-responsive">
					</a>
				</div>
				<div class="agileinfo_footer_grid1">
					<a href="#">
						<img src="images/f6.jpg" alt=" " class="img-responsive">
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
			<div class=" newsletter">
				<h4>Subscribe Here</h4>
				<form action="#" method="post" class="newsletter">
					<input class="email" type="email" name="email" placeholder="Your email...">
					<input type="submit" class="submit" value="subscribe">
				</form>
				<div class="clearfix"> </div>
			</div>
			<div class="w3agile_footer_copy">
				<p>© 2018 Tennis Hub. All rights reserved | Design by
					<a href="http://w3layouts.com/">W3layouts.</a>
				</p>
			</div>
		</div>
	</div>
	<!-- //footer -->


	<!-- js-scripts -->
	<!-- jquery -->
	<script src="{% static "js/jquery-2.2.3.min.js"%}"></script>
	<script src="{% static "js/bootstrap.js"%}"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->

	<!-- banner Slider -->
	<script src="{% static "js/responsiveslides.min.js"%}"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider3").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<!-- //banner Slider -->

	<!-- Numscroller -->
	<script src="{% static "js/numscroller-1.0.js"%}"></script>
	<!-- //Numscroller -->

	<!-- pop-up(for video popup)-->
	<script src="{% static "js/jquery.magnific-popup.js"%}"></script>
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
	</script>
	<!-- //pop-up-box (syllabus section video)-->

	<!-- lightbox -->
	<script src="js/jquery.chocolat.js"></script>
	<link rel="stylesheet" href="{% static "css/chocolat.css"%}" type="text/css" media="screen">
	<!--light-box-files -->
	<script>
		$(function () {
			$('.gallery-grid a').Chocolat();
		});
	</script>
	<!-- //lightbox -->

	<!-- smoothscroll -->
	<script src="{% static "js/SmoothScroll.min.js"%}"></script>
	<!-- //smoothscroll -->

	<!-- start-smooth-scrolling -->
	<script src="{% static "js/move-top.js"%}"></script>
	<script src="{% static "js/easing.js"%}"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->

	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->
	<!-- //js-scripts -->

</body>

</html>
