{% extends 'poopdeck/base1.html' %}


<!-------------------------->
<!-- EVENT LIST VIEW CODE-->
<!-------------------------->

{% block content %}


{% if events %}
<ul>
	{% for event in events %}
		
		<h3><a href="event/{{event.id}}"><h1 style="color:black; -webkit-text-stroke: .3px gold;">{{event.Description}}</h1></a></h3>
		<br>
	{% endfor %}
<ul>
{% else %}
{{day.id}} : {{day.CalendarDate}}
{% endif %}

<!-- <a href="add"> Add Event to the database </a> -->


{% endblock %}




<!-------------------------->
<!-- MEAL LIST VIEW CODE-->
<!-------------------------->

{% block meallist %}

<h1>Meals List </h2>

{% if meals %}
<ul>
        {% for meal in meals %}
		<br>
                <h3><a href="meal/{{meal.id}}"><h1 style="color:gold; -webkit-text-stroke: .5px black;">{{meal.SpecialOccasion}}</h1></a></h3>
        {% endfor %}
<ul>
{% else %}
<p> Not sure what goes here </p>
{% endif %}

<!-- <a href="add"> Add Meal to the Database </a> -->

{% endblock %}


<!-------------------------->
<!-- CGR LIST VIEW CODE-->
<!-------------------------->

{% block cgrlist %}
<h1>CGR</h2>

{% if cgr %}
<ul>
        {% for cgr in cgr %}
                <li><a href="cgr/{{cgr.id}}">{{cgr.Company}}</a> Occasion {{cgr.DurationRange}} and located at {{cgr.DutyDriver}} for {{cgr.SergeantOfGuard}}</li>
        {% endfor %}
<ul>
{% else %}
<p> Not sure what goes here </p>
{% endif %}

<a href="add"> Update CGR in the Database </a>


{% endblock %}

{% block company %}

{% for cgr in cgr %}
                <h3 style="color:black; -webkit-text-stroke: .3px gold;">{{cgr.Company}}</h3>
        {% endfor %}

{% endblock %}

{% block durationrange %}

{% for cgr in cgr %}
                <h3 style="color:black; -webkit-text-stroke: .3px gold;">{{cgr.DurationRange}}</h3>
        {% endfor %}

{% endblock %}

{% block dutydriver %}

{% for cgr in cgr %}
                <h3 style="color:black; -webkit-text-stroke: .3px gold;">{{cgr.DutyDriver}}</h3>
        {% endfor %}

{% endblock %}

{% block sergeantofguard %}

{% for cgr in cgr %}
                <h3 style="color:black; -webkit-text-stroke: .3px gold;">{{cgr.SergeantOfGuard}}</h3>
        {% endfor %}

{% endblock %}


<!-------------------------->
<!-- SERVICES VIEW CODE-->
<!-------------------------->

{% block services %}

{% for services in services %}
	<h2>{{services.Description}}</h2>
	<br>
	<p>Hours of Operation: {{services.DurationRange}} </p>
	<p>Location: {{services.Location}} </p>
	<p>Status: {{services.Status}} </p>
	<br>
        {% endfor %}

{% endblock %}





