{% extends 'poopdeck/base1.html' %}


<!-------------------------->
<!-- EVENT LIST VIEW CODE-->
<!-------------------------->

{% block content %}
<h1>Events List </h2>

{% if events %}
<ul>
	{% for event in events %}
		<li><a href="event/{{event.id}}">{{event.Description}}</a> Showing at {{event.Location}} and the importance is {{event.ImportanceStatus}}</li>
	{% endfor %}
<ul>
{% else %}
<p> Not sure what goes here </p>
{{day.id}} : {{day.CalendarDate}}
{% endif %}

<a href="add"> Add Event to the database </a>


{% endblock %}


<!-------------------------->
<!-- MEAL LIST VIEW CODE-->
<!-------------------------->

{% block meallist %}

<h1>Meals List </h2>

{% if meals %}
<ul>
        {% for meal in meals %}
                <li><a href="meal/{{meal.id}}">{{meal.TypeofMeal}}</a> Occasion {{meal.SpecialOccasion}} and located at {{meal.Location}} for {{meal.DurationRange}}. Any Annoucements: {{meal.AnnouncementsMade}}</li>
        {% endfor %}
<ul>
{% else %}
<p> Not sure what goes here </p>
{% endif %}

<a href="add"> Add Meal to the Database </a>

{% endblock %}


<!-------------------------->
<!-- CGR LIST VIEW CODE-->
<!-------------------------->

{% block cgrlist %}
<h1>CGR</h2>

{% if cgr %}
<ul>
        {% for cgr in cgr %}
                <li><a href="cgr/{{cgr.id}}">{{cgr.Company}}</a> Occasion {{cgr.DurationRange}} and located at {{cgr.DutyDriver}} for {{cgr.SergeantOfGuard}}</li>
        {% endfor %}
<ul>
{% else %}
<p> Not sure what goes here </p>
{% endif %}

<a href="add"> Update CGR in the Database </a>


{% endblock %}

