{% extends 'poopdeck/base1.html' %}


<!-------------------------->
<!-- EVENT LIST VIEW CODE-->
<!-------------------------->

{% block content %}


{% if events %}
<ul>
	{% for event in events %}
		<li><a href="event/{{event.id}}">{{event.Description}}</a>. The Event will be held at: {{event.Location}}. This Event is: {{event.ImportanceStatus}} importance.</li>
	{% endfor %}
<ul>
{% else %}
{{day.id}} : {{day.CalendarDate}}
{% endif %}

<!-- <a href="add"> Add Event to the database </a> -->


{% endblock %}




<!-------------------------->
<!-- MEAL LIST VIEW CODE-->
<!-------------------------->

{% block meallist %}

<h1>Meals List </h2>

{% if meals %}
<ul>
        {% for meal in meals %}
                <li><a href="meal/{{meal.id}}">{{meal.TypeofMeal}}</a> Occasion {{meal.SpecialOccasion}} and located at {{meal.Location}} for {{meal.DurationRange}}. Any Annoucements: {{meal.AnnouncementsMade}}</li>
        {% endfor %}
<ul>
{% else %}
<p> Not sure what goes here </p>
{% endif %}

<a href="add"> Add Meal to the Database </a>

{% endblock %}


<!-------------------------->
<!-- CGR LIST VIEW CODE-->
<!-------------------------->

{% block cgrlist %}
<h1>CGR</h2>

{% if cgr %}
<ul>
        {% for cgr in cgr %}
                <li><a href="cgr/{{cgr.id}}">{{cgr.Company}}</a> Occasion {{cgr.DurationRange}} and located at {{cgr.DutyDriver}} for {{cgr.SergeantOfGuard}}</li>
        {% endfor %}
<ul>
{% else %}
<p> Not sure what goes here </p>
{% endif %}

<a href="add"> Update CGR in the Database </a>


{% endblock %}

{% block company %}

{% for cgr in cgr %}
                <li>{{cgr.Company}}</li>
        {% endfor %}

{% endblock %}

{% block durationrange %}

{% for cgr in cgr %}
                <li>{{cgr.DurationRange}}</li>
        {% endfor %}

{% endblock %}

{% block dutydriver %}

{% for cgr in cgr %}
                <li>{{cgr.DutyDriver}}</li>
        {% endfor %}

{% endblock %}

{% block sergeantofguard %}

{% for cgr in cgr %}
                <li>{{cgr.SergeantOfGuard}}</li>
        {% endfor %}

{% endblock %}




