<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="Poop Deck">
  <meta name="author" content="SitePoint">


<style> 

div {
    text-align: center;
    color: gold;
}

body {
    background-color: grey;
}


</style> 

</head>


<div>
<body>
<ul>
  <h1> Poop Deck 
  <h1> </h1>
  <h1> Location:  {{ meal.Location }} </h1>
  <h1> Day: {{ meal.Day  }} </h1>
  <h1> Duration: {{ meal.DurationRange  }} </h1>
  <h1> Type: {{ meal.TypeofMeal  }} </h1>
  <h1> Announcements: {{ meal.AnnouncementsMade  }} </h1>
  <h1> Special Occation: {{ meal.SpecialOccasion}} </h1> 
</ul>
</body>
</div>

</html>
